div(layout="column")
  h1 Data Fixes
  div(layout="row", layout-align="start center")
    md-button
      md-menu
        md-button(
          md-menu-origin,
          ng-click="$mdOpenMenu()"
          ) Select Data Source
        // fix selection
        md-menu-content(width="4", md-menu-align-target)
          md-menu-item(
            type="radio", 
            value="dhm-images",
            ng-model="fixes.fix",
            ng-change="fixes.useFix(fixes.fix)"
            ) DHM Images
    div(flex)
  ui-view
